/* -------Generic styling------- */
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

/* -------Sidebar styling---------- */
.sidebar {
    background-color: #00376f;
    min-width: 250px;
    max-width: 250px;
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: hidden;
}

ul li a {
    transition: background-color 0.35s, color 0.35s;
    color: #ffffff;
    
}
ul li a span {
    transition: background-color 0.25s, color 0.25s;
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
    padding-left: 10px;
}
ul li a:hover span {
    color: #00376F;
    font-weight: 500;
}
ul li a rect, ul li a path {
    transition: stroke .025s;
}
ul li a:hover rect, ul li a:hover path {
    stroke: #00376F;
}
ul li a:hover {
    display: block;
    background-color: #ffffff;
    color: #00376F;
}

/* --------main content styling-------- */
.main-content{
    background-color: #F0F2F5;
    height: 100%;
    width: 100%;
}
/* ----Dashboard menu notifications--- */
.dashboard-size {
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    font-weight: 700;
}
/* ----content title container------- */
.content-title {
    background-color: #00376f;
    color: #ffffff;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}
.text-white {
    font-size: 35px; 
    margin-bottom: 0;
}
.account-button button {
    background-color: #E52D8A;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    border: none;
}

.account-button button:focus {
    outline: none;
}
.button-container {
    margin-top: 30px;
}
.button-container div button, .question-select {
    padding: 10px 35px;
    border-radius: 10px;
    border: none;
    color: #ffffff;
    background-color: #B1C6DC;
    font-weight: 600;
}
.button-container div button:focus {
    outline: none;
}
.info-main-container {
    padding: 10px 30px 70px 30px;
}

/* ---Subject selection options--- */
.subject-selection {
    margin-top: 20px;
}

.type1-subject-bg, .type2-subject-bg {
    display: block;
    padding: 5px 0;
}

/* -------table styling------- */
.type1-subject-bg {
    background-color: #98B4D0;
}
.type2-subject-bg {
    background-color:  #F2F8FF;
}
.table-left-color {
    color: #04182C;
}
.table-right-color {
    color: #04182C;
}
.start-exams-container button {
    color: #FFFFFF;
    background-color: #007FFF;
    font-weight: 700;
    border-radius: 7px;
    padding: 8px 40px;
    border: none;
}
.main-content .container {
    padding: 0 60px;
}
h1 {
    color: #04182C;
    font-weight: 700;
    font-style: Montserrat;
}
#cont-img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.content-main-color, #calender {
    color: #727D88;
}
.update-button, #calender {
    border: none;
}
.update-button:focus, #calender:focus {
    outline: none;
}

/* -----exam_screen2 css styling---- */
.select-main-container {
    padding-bottom: 200px;
    color: #727D88;
}
.start-exams-container {
    margin-top: 70px;
}
.select-main-container select {
    width: 94%; 
    background-color: #00376F; 
    color: #FFFFFF; 
    border: none; 
    border-radius: 5px;
}
/* -----question css styling---- */
.submit-answer-container button {
    color: #FFFFFF;
    background-color: #00376F;
    font-weight: 700;
    border-radius: 7px;
    padding: 8px 20px;
    border: none;
    margin: 40px 0 10px 0;
}

/* -----search-topic----- */
.search-topic input {
    border: 1px solid #B8D5F3;
    background-color: #DDECFB;
    border-radius: 5px;
    padding: 0 5px;
    width:  140px;
}
.search-topic input:focus {
    outline: none;
}

/* -----go-back-subject-cont-------- */
.go-back-subject-cont a span {
    font-size: 20px; 
    color: #00376F; 
    font-weight: 700;
}
.student_sub span {
    font-size: 24px; 
    color: #212529; 
    font-weight: 700;
}
/* --additional question-score-container styling-- */

.select-main-container {
    padding-bottom: 40px; 
    background-color: #ffffff;
}
.question-flex-search div {
    font-weight: 700;
    max-width: 65%;
}
.score-container {
    width: 190px; 
    height: 140px; 
    border-radius: 20px; 
    font-weight: 700; 
    font-size: 16px;
}
.score-in-perc {
    height: 40px; 
    background-color: #007FFF; 
    color: #ffffff;
}
.fail-pass-container {
    background-color: #DDECFB; 
    height: 100px;
}

/* -----subscription_screen1_styling---- */
.select-main-container div div span {
    font-weight: 700;
    font-size: 16px;
}
.revision {
    margin-bottom: 20px;
    font-size: 13px;
}

/* -----subscription_pending_styling---- */
.select-main-container article {
    color: #04182C;
    font-size: 22px;
    font-weight: 700;
}
/* .select-main-container .pending-icon svg {
    -webkit-transition: -webkit-transform 1s;
}
.select-main-container .pending-icon svg:hover {
    -webkit-transform: rotate(360deg) translateZ(0);
} */


/* -----Subscription_Details_screen_2---- */
.currency {
    font-size: 18px;
    font-weight: 500;
}
.amount-p {
    color: #04182C;
}
.amount-p span {
    font-weight: 700;
}
.secured {
    color: #008000; 
    font-size: 16px; 
    font-weight: 500;
}
.bank-radio {
    font-size: 20px;
}
.bank-d-color {
    background-color: #F2F8FF; 
    color: #727D88
}
.payment header, .payment_header {
    color: #04182C; 
    font-weight: 700; 
    font-size: 24px;
}
.currency-but {
    font-size: 10px;
    color: #FFFFFF;
    font-weight: 700;
    border: none;
    border-radius: 7px;
    height: 26px;
    width: 98px;
}
.but-col-1 {
    background-color: #00376F;
}
.but-col-2 {
    background-color: #E52D8A;
}
.acc-info p span {
    font-weight: 500;
}
.acc-info p {
    padding: 0;
    margin: 0;
}
/* ----------review_screen--------- */
.entries-search-cont .entries-list {
    background-color: #00376F; 
    color: #fff; 
    border-radius: 5px; 
    padding: 1px 2px; 
    font-weight: 400; 
    text-decoration: none; 
    width: 50px; 
    border: none;
}
.entries-list:focus {
    outline: none;
}
/*Table Style One*/
.table .table-header .cell {
    background: #00376F;
    color:#FFFFFF;
}
.table .table-header .cell, tr td{
  text-align: center;
}
.cor-1 td {
background-color: #F2F8FF;
padding: 10px 0;
color: #727D88;
font-size: 16px;
}
.cor-2 td {
background-color: #E4EEF8;
padding: 10px 0;
color: #727D88;
font-size: 16px;
}
.row-border{
border-right: 1px solid #CAD6E1;
border-left: 1px solid #CAD6E1;
}
.f-weight {
    font-weight: 700;
}
.cor-1 .fail-color, .cor-2 .fail-color {
    color: #E52D2D;
}
.cor-2 .pass-color, .cor-1 .pass-color {
    color: #008000;
}
.next-col {
    background-color: #007FFF;
    padding: 2px 4px;
    border-radius: 50%;
}
.previous-col {
    background-color: #A1C7ED;
    padding: 2px 4px;
    border-radius: 50%;
}
@media screen and (max-width: 640px){
    table {
        overflow-x: auto;
        display: block;
    }
    .table .table-header .cell{
        padding:20px 5px;
    }
}
.table-button {
    color: #ffffff; 
    background-color: #E52D8A; 
    border-radius: 7px; 
    padding: 5px 30px;
    border: 0;
    font-weight: 700;
    font-size: 16px;
}
.table-button:focus {
    outline: none;
}

/* -----------review_screen2-------- */
.next-qa {
    font-size: 20px; 
    font-weight: 700; 
    text-decoration: none;
    color: #ffffff;
}
.opt {
    margin: 0 0 5px 0;
}
.ans {
    color: #008000;
}
/* ------billing information------- */
.card-style {
    background-color: #F2F8FF;
    padding: 0 15px;
    border: 1px solid #BFBFBF;
    border-radius: 10px;
}
.card-style:focus {
    outline: none;
}

/* ------ subs_bank_upload sterling ------- */
.upload-file {
    display: none;
}
label p {
    margin: 0; 
}
.p-sty-2 {
    color: #04182C;
}
label {
    display: inline-block;
    background-color: #DDECFB;
     cursor: pointer;
     text-align: center;
    border: 1px dashed #007FFF; 
    font-size: 18px; 
    font-weight: 500;
    border-radius: 5px; 
    padding: 15px 150px;
}