/* -------Generic styling------- */
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* -------Sidebar styling---------- */
.sidebar {
    background-color: #00376f;
    min-width: 250px;
    max-width: 250px;
    height: 100%; /* Full-height: remove this if you want "auto" height */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: hidden;
}

ul li a {
    transition: background-color 0.35s, color 0.35s;
    color: #ffffff;
    
}
ul li a span {
    transition: background-color 0.25s, color 0.25s;
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
    padding-left: 10px;
}
ul li a:hover span {
    color: #00376F;
    font-weight: 500;
}
ul li a rect, ul li a path {
    transition: stroke .025s;
}
ul li a:hover rect, ul li a:hover path {
    stroke: #00376F;
}
ul li a:hover {
    display: block;
    background-color: #ffffff;
    color: #00376F;
}

/* --------main content styling-------- */
.main-content{
    background-color: #F0F2F5;
    height: 100%;
    width: 100%;
}
/* ----Dashboard menu notifications--- */
.dashboard-size {
    font-size: 20px;
    color: #000000;
    text-decoration: none;
}
/* ----content title container------- */
.content-title {
    background-color: #00376f;
    color: #ffffff;
    padding: 10px;
    margin-top: 60px;
    border-radius: 10px;
}
.account-button button {
    background-color: #E52D8A;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    border: none;
}
/*  ---on click yet to do be done--- */
/*.account-button button:click {
    color: #007FFF;
  } */
.account-button button:focus {
    outline: none;
}
.button-container {
    margin-top: 30px;
}
.button-container div button, .question-select {
    padding: 10px 35px;
    border-radius: 10px;
    border: none;
    color: #ffffff;
    background-color: #B1C6DC;
    font-weight: 600;
}
.button-container div button:focus {
    outline: none;
}
.info-main-container {
    padding: 10px 30px 70px 30px;
}

/* ---Subject selection options--- */
.subject-selection {
    margin-top: 20px;
}

.type1-subject-bg, .type2-subject-bg {
    display: block;
    padding: 5px 0;
}

/* -------table styling------- */
.type1-subject-bg {
    background-color: #98B4D0;
}
.type2-subject-bg {
    background-color:  #F2F8FF;
}
.table-left-color {
    color: #04182C;
}
.table-right-color {
    color: #04182C;
}
.start-exams-container button {
    color: #FFFFFF;
    background-color: #007FFF;
    font-weight: 700;
    border-radius: 7px;
    padding: 8px 40px;
    border: none;
}
.main-content .container {
    padding: 0 60px;
}
h1 {
    color: #04182C;
    font-weight: 700;
    font-style: Montserrat;
}
#cont-img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.content-main-color, #calender {
    color: #727D88;
}
.update-button, #calender {
    border: none;
}
.update-button:focus, #calender:focus {
    outline: none;
}

/* -----exam_screen2 css styling---- */
.select-main-container {
    padding-bottom: 200px;
    color: #727D88;
}
.start-exams-container {
    margin-top: 70px;
}
.select-main-container select {
    width: 94%; 
    background-color: #00376F; 
    color: #FFFFFF; 
    border: none; 
    border-radius: 5px;
}
/* -----question css styling---- */
.submit-answer-container button {
    color: #FFFFFF;
    background-color: #00376F;
    font-weight: 700;
    border-radius: 7px;
    padding: 8px 20px;
    border: none;
    margin: 40px 0 10px 0;
}

/* -----search-topic----- */
.search-topic input {
    border: 1px solid #B8D5F3;
    background-color: #DDECFB;
    border-radius: 5px;
    padding: 0 5px;
    width:  140px;
}
.search-topic input:focus {
    outline: none;
}

/* -----go-back-subject-cont-------- */
.go-back-subject-cont a span {
    font-size: 20px; 
    color: #00376F; 
    font-weight: 700;
}
.student_sub span {
    font-size: 24px; 
    color: #212529; 
    font-weight: 700;
}
/* --additional question-score-container styling-- */

.select-main-container {
    padding-bottom: 40px; 
    background-color: #ffffff;
}
.question-flex-search div {
    font-weight: 700;
    max-width: 65%;
}
.score-container {
    width: 190px; 
    height: 140px; 
    border-radius: 20px; 
    font-weight: 700; 
    font-size: 16px;
}
.score-in-perc {
    height: 40px; 
    background-color: #007FFF; 
    color: #ffffff;
}
.fail-pass-container {
    background-color: #DDECFB; 
    height: 100px;
}

/* -----subscription_screen1_styling---- */
.select-main-container div div span {
    font-weight: 700;
    font-size: 16px;
}