body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.sidebar {
    background-color: #00376f;
    min-width: 270px;
    max-width: 270px;
}

ul li a {
    transition: background-color 0.35s, color 0.35s;
    color: #ffffff;
}
ul li a span {
    transition: background-color 0.25s, color 0.25s;
    color: #ffffff;
    font-weight: 700;
}
ul li a:hover span {
    color: #00376F;
    font-weight: 700;
}
ul li a rect, ul li a path {
    transition: stroke .025s;
}
ul li a:hover rect, ul li a:hover path {
    stroke: #00376F;
}
ul li a:hover {
    /* position: relative; */
    display: block;
    background-color: #ffffff;
    color: #00376F;
}

/* table styling*/

.main-content{
    background-color: #CAD6E1;
    min-height: 100vh;
    width: 100%;
}
.table-background-color {
    background-color: #FFFFFF;
    margin: 10px 0 0 50px;
    border-radius: 10px;
    padding: 10px;
}
.text-col {
    color:#04182C;
    font-weight: 600;
}
/*Table Style One*/
/* .table .table-header{
    background: #00376F;
    color:#FFFFFF;
}
.table .table-header .cell, tr td{
  text-align: center;
}
.table .table-header .active {
background-color: #F2F8FF;
}
tr td {
background-color: #E4EEF8;
}
.row-border{
border-right: 1px solid #CAD6E1;
border-left: 1px solid #CAD6E1;
}
@media screen and (max-width: 640px){
    table {
        overflow-x: auto;
        display: block;
    }
    .table .table-header .cell{
        padding:20px 5px;
    }
}
 .container-text-search {
    display: flex;
    align-items: center;
    gap: 730px;
    width: 100%;
    font-weight: 700;
    font-size: 18px;
}
.table-title {
    color: #04182C;
}
.has-search {
    width: 250px;
    height: 15px;
} */
/* styling for exams links */
/* .table-container {
    background-color: #FFFFFF;
    margin: 5px 0 0 10px;
    border-radius: 10px;
    padding: 10px;
}
.text-col {
    color:#04182C;
    font-weight: 700;
} */
/*Table Style One*/
/* div div div .table .table-header .cell, tr td{
  text-align: center;
  background: #00376F;
    color:#FFFFFF;
}
div div div .table .table-header .active {
background-color: #F2F8FF;
}
tr td {
background-color: #E4EEF8;
}
.row-border{
border-right: 1px solid #CAD6E1;
border-left: 1px solid #CAD6E1;
}
@media screen and (max-width: 640px){
    table {
        overflow-x: auto;
        display: block;
    }
    div div div .table .table-header .cell{
        padding:20px 5px;
    }
}
.exam-container { */
    /* margin-left: 50px; */
    
/* }
.exam-box {
    border: 2px solid #00376F;
    text-align: center;
    border-radius: 5px;
    margin: 10px 0;
    background-color: #FFFFFF;
    padding: 5px 0;
}

.exam-box a {
    color: #04182C;
    display: block;
    text-decoration: none;
} */



/* header container */
/* .head-container {
    position: sticky;
    top: 30px;
    background-color: #CAD6E1;
} */
.main-content .container {
    padding: 0 60px;
}

h1 {
    color: #04182C;
    font-weight: 700;
    font-style: Montserrat;
}
#cont-img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.content-main-color, #calender {
    color: #727D88;
}
.update-button, #calender {
    border: none;
}
.update-button:focus, #calender:focus {
    outline: none;
}
